<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>
<body>
<div class="jumbotron"> 
<h1> <span class="glyphicon glyphicon-film"> </span> Reelator <span class="glyphicon glyphicon-film"></span> </h1>

<h4> Connecting movies 5 nodes at a time! </h4> 

  <%= form_tag '/sessions', method: :post do %>
    <br>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br> 
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br> <br>
  <p> <%= submit_tag "Submit", :class => "btn btn-default"  %> </p>
  <% end %>
  <a href="/signup" class="btn btn-default"> Not a user? Signup!</a>
</div>


</body>
</html>
