<!DOCTYPE html>
<html>
<head>
  <title>
    Home
  </title>
</head>
<body>
  <div class="game_index">
    <% if current_user %>
      <h2> Your activated games </h2>
      <h3> Click a game to resume where you left off, or create a new game from scratch! </h3> 
        <% @activated_games.each do |game| %>
          <p> <%= link_to game.search, "/games/#{game.id}", method: :get %> </p>
       <% end %>
    <% end %>
  </div>
    <br>

  <div class="game_index_form">    
    <%= form_tag '/games', method: :post do %>
      <div> 
        <%= text_field_tag :search %>
      </div>
      <div>
        <%= hidden_field_tag(:user_id, current_user.id) %>
      </div>
      <div>
        <%= hidden_field_tag(:status, "Activated") %>
      </div>
      <div>
        <%= submit_tag "CREATE GAME!" %>
      </div>
    <% end %>
  </div>
 
 
</body>
</html>
