<!DOCTYPE html>
<html>
<head>
  <title>
    Home
  </title>
</head>
<body>
 <div class="game_index">    
  <h2> Search for a movie, and start a game! </h2>
 
    <%= form_tag '/games', method: :post do %>
      <div> 
        <%= text_field_tag :search %>
      </div>
      <div>
        <%= hidden_field_tag(:user_id, current_user.id) %>
      </div>
      <div>
        <%= hidden_field_tag(:status, "Activated") %>
      </div>
      <div>
        <p> <%= submit_tag "Submit", :class => "btn btn-default"  %> </p>
      </div>
    <% end %>
  </div>

  <br>

  <div class="activated_games">
    <% if current_user %>
      <h3> Your activated games! </h3>
      <h4> Click a game to resume where you left off, or create a new game from scratch: </h4>
      
      <% @activated_games.each do |game| %>
        <p> <%= link_to game.search, "/games/#{game.id}", method: :get %> </p>
      <% end %>
  </div>

    <br>

    <div class="completed_games">
      <h3> Here are your completed games! 
      <h4> Click a game to restart game, or "Reset Games" to restart all completed games: </h4>
        <%  @completed_games.each do |game| %> </h3>
          <p> <%= game.search %> </p>
        <% end %>
    </div>
    
  <% end %>
  </div>
    <br>

 
 <div> 
  
  <%= submit_tag "Restart Games?", :class => "btn btn-default", action: @games.reset_games %>

  </button>
  </div>
 
</body>
</html>
