
  <%= form_tag '/games', method: :post do %>
        <%= collection_select(:movie, :movie_id, Movie.all, :id, :title) %>
      <div>
        <%= hidden_field_tag(:user_id, current_user.id) %>
      </div>
      <div>
        <%= hidden_field_tag(:status, "Activated") %>
      </div>
        <%= submit_tag "CREATE GAME!" %>
  <% end %>