
<h1> <%= @nodes[0].title %> is related to <%= @nodes[5].title %> </h1>

<h2> YOUR MOVIE PATH </h2>
<% @nodes.each do |node| %>
  <% if node.correct %>
    ***  <%= node.title %> ***
  <% end %>
<% end %>

<% if @next_node %>
  <p> <%= link_to image_tag(@next_node_poster), "/games/#{@game.id}", method: :patch %> </p>
  <p> <%= link_to @next_node.title, "/games/#{@game.id}", method: :patch %> </p> 
  or 
  <p> <%= link_to image_tag(@random_movie_poster), "/games" %> </p>
  <p> <%= link_to @random_movie_title, "/games" %> </p>
<% else %>
  <p> <%= link_to "GAME OVER MAN", "/games/#{@game.id}", method: :patch %>
<% end %>








